extends layout

block content

  div.col-1 

    form.background(action='/user' method='POST')

      p Create or update your profile

      if user && user.mobile
        div.form-row
          label(for='mobile') Cell #
          input(type='text' name='mobile' value=user.mobile)
        div.form-row
          label(for='opt_in') Receive alerts
          input(type='checkbox' name='opt_in' value='1' checked=(user.opt_in ? "checked" : undefined))
        div.form-row
          label(for='alerted_at') Last alert sent at
          input(type='text' name='alerted_at' value=user.alerted_at)

      else 
        div.form-row
          label(for='mobile') Cell #
          input(type='text' name='mobile')
        div.form-row
          label(for='opt_in') Receive alerts
          input(type='hidden' name='opt_in' value='0')
          input(type='checkbox' name='opt_in' value='1' checked)

      button(type='submit') Submit


  if user && user.mobile
    div.col-2

        p Simulate 'Ignition Off' event webhook

        table
          tr
            td
              a(href='https://www.google.com/maps/place/40.714495,-73.941731' target="_blank") 
                img.icon(src='images/icon-location.png') 
            td(colspan='2') Speedway 
              small= "(40.714495, -73.941731)"
            td
              form(action='/device_callback/dash/simulated' method='POST')
                input(type='hidden' name='latitude' value='40.714495')
                input(type='hidden' name='longitude' value='-73.941731')
                input(type='hidden' name='deviceVehicleId' value='')
                input(type='hidden' name='deviceUserId' value=user.device_user_id)
                input(type='hidden' name='event' value='ignition_off')
                input(type='hidden' name='timestamp' value=new Date().getTime())
                button(type='submit') Send webhook

          tr
            td
              a(href='https://www.google.com/maps/place/40.720578,-73.944312' target="_blank") 
                img.icon(src='images/icon-location.png') 
            td(colspan='2') Sunoco 
              small= "(40.720578, -73.944312)"
            td
              form(action='/device_callback/dash/simulated' method='POST')
                input(type='hidden' name='latitude' value='40.720578')
                input(type='hidden' name='longitude' value='-73.944312')
                input(type='hidden' name='deviceVehicleId' value='')
                input(type='hidden' name='deviceUserId' value=user.device_user_id)
                input(type='hidden' name='event' value='ignition_off')
                input(type='hidden' name='timestamp' value=new Date().getTime())
                button(type='submit') Send webhook


          form(action='/device_callback/dash/simulated' method='POST')
            tr
              td 
                a(href='https://www.google.com/maps/search/gas+station' target="_blank") 
                  img.icon(src='images/icon-location.png') 
              td 
                input(type='text' name='lat' placeholder='latitude')
              td
                input(type='text' name='lon' placeholder='longitude')
              td
                input(type='hidden' name='deviceVehicleId' value='')
                input(type='hidden' name='deviceUserId' value=user.device_user_id)
                input(type='hidden' name='event' value='ignition_off')
                input(type='hidden' name='timestamp' value=new Date().getTime())
                button(type='submit') Send webhook

